:root {
  --aside-width: 250px;
  --blur-bg: rgba(255, 255, 255, 0.05);
  --blur-filter: blur(5px);
  --border-light: 1px solid rgba(255, 255, 255, 0.1);
  --dot-size: 8px;
  --transition-duration: 0.2s;
}

html, body {
  font-family: "Red Hat Display", "Segoe UI", sans-serif;;
  height: 100%;
  margin: 0;
  overflow: hidden !important;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}

main {
  height: 100vh;
  margin-left: 0;
  min-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /*scroll-snap-type: y proximity;*/
}

section {
  border-top: var(--border-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  scroll-snap-align: start;
}

h2 {
  border-bottom: 4px solid var(--bs-primary);
  display: inline-block;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 8px;
}

aside .card, .blur-card {
  border-radius: 0px !important;
}

.active {
  backdrop-filter: var(--blur-filter);
  background: rgb(0 0 0 / 30%) !important;
}

.bsb-timeline-1 .timeline:after {
  background-color: var(--bsb-tl-circle-color);
  width: 1px;
}

.blur-card {
  -webkit-backdrop-filter: var(--blur-filter);
  backdrop-filter: var(--blur-filter);
  background-color: var(--blur-bg);
  border-right: var(--border-light);
}

.circle-icon {
  transition: color var(--transition-duration) ease;
}

.dot {
  height: var(--dot-size);
  width: var(--dot-size);
}

.nav-link {
  backdrop-filter: none;
  border-radius: 0%;
  transition: all var(--transition-duration) ease;
}

.nav-link.img > img {
  border-radius: 100%;
  transition: width var(--transition-duration) ease;
  width: 162px;
}

.nav-link.img.active {
  border-radius: 100%;
  padding: 6px;
}

.nav-link.img.active > img {
  width: 150px;
}

.skills {
  line-height: 4rem;
}

.skills > i {
  font-size: 3rem;
  padding: 8px;
  transition: color var(--transition-duration) ease;
}

.skills > i:hover {
  color: var(--bs-primary);
}

.unirc {
  background-image: url("https://www.unirc.it/themes/custom/unirc_base/images/logo_unirc.svg");
  background-position: center left;
  background-size: cover;
  height: 74px;
  width: 76px;
}

section[id="progetti"] .card {
  padding: 10px;
  transition: all var(--transition-duration) ease;
}

section[id="progetti"] .card:hover {
  background: var(--bs-primary);
}

section[id="progetti"] .card .fa-arrow-up-right-from-square {
  opacity: 0;
  transition: opacity var(--transition-duration) ease;
}

section[id="progetti"] .card:hover .fa-arrow-up-right-from-square {
  opacity: 1;
}

/* Mobile view */
@media (max-width: 767.98px) {
  aside {
    height: auto;
    left: 0;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }

  aside .card {
    border: 0;
  }

  aside .card-body {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .fs-responsive {
    display: none;
    font-size: 3vw;
  }

  main > section > .container {
    padding-top: 50px !important;
  }

  .nav-link.img > img {
    width: 36px !important;
  }

  .nav-link.img.active > img {
    width: 90px !important;
  }
}

/* Desktop view */
@media (min-width: 768px) {
  aside {
    height: 100vh;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: var(--aside-width) !important;
    z-index: 9990;
  }

  aside .navbar-collapse {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  main {
    margin-left: var(--aside-width);
  }
}
